<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Список собак</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <div class="text-center">
            <p><a href="{% url 'logout_page' %}">Выйти из {{request.user.username}}</a></p>
            <p><a href="{% url 'add_dog' %}">Добавить собаку</a></p>
        </div>
    {% else %}
        <div class="text-center">
            <p><a href="{% url 'login_page' %}">Авторизация</a></p>
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="row">

        {% if dogs %}
            <ul>
                {% for dog in dogs %}
                    {% if request.user.is_superuser or request.user == dog.shelter %}
                            <p>
                                <b>{{ dog.name }}</b>
                                {{ dog.special|truncatechars:10 }}
                                <a href="{% url 'dog_detail' dog.id %}">Просмотр</a>
                                <a href="{% url 'edit' dog.id %}">Редактировать</a>
                                <a href="{% url 'delete' dog.id %}">Удалить</a>
                            </p>
                    {% endif %}

                    {% if not request.user.is_authenticated %}
                        <p>
                            <b>{{ dog.name }}</b>
                            {{ dog.special }}
                            <a href="{% url 'dog_detail' dog.id %}">Просмотр</a>
                        </p>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>Собак нет!</p>
        {% endif %}
    </div>
    </div>
</body>
</html>